@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  font-size: 1.6rem;
  place-items: center;
  background:linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  font-family: Rockwell, "Courier New", Courier, Georgia, Times, "Times New Roman", serif;
}

.container {
  width: 40vw;
  padding: 3rem;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  border-radius: 3rem;
  background:linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}
.container::-webkit-scrollbar {
  width: 0;
}
.container::before {
  content: "";
  top: -10rem;
  left: -10rem;
  width: 40rem;
  height: 40rem;
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.35);
}
.container::after {
  content: "";
  bottom: 0rem;
  right: -10rem;
  width: 40rem;
  height: 40rem;
  margin-bottom: -25rem;
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 142, 242, 0.6);
}
.container h1 {
  top: 0;
  margin: 0;
  padding: 6rem 0;
  padding-top: 7rem;
  position: sticky;
  text-align: center;
  color: #fff;
  margin-bottom: 3rem;
  box-shadow: 0 7px 2rem rgb(90, 188, 245);
  background: rgba(86, 83, 234, 0.7);
}
.container ol {
  margin: 0;
  gap: 1rem;
  padding: 0;
  display: flex;
  list-style: none;
  place-items: center;
  flex-direction: column;
  counter-reset: my-counter;
}
.container ol li {
  width: 40rem;
  text-align: center;
  color: #fff;
  border-radius: 3rem;
  background: rgba(83, 176, 234, 0.7);
  counter-increment: my-counter;
  padding: 1.1rem 1.5rem 1.1rem 1.5rem;
}
.container ol li::before {
  content: counter(my-counter) ". ";
}